body {
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
}

.navbar {
	box-shadow: 0px 10px 40px black;
}

#navbar-logo {
	max-height: 100%;
}

.dropdown-toggle {
    border: none;
    background-color: #f8f8f8;
    height: 50px;
    padding: 10px 15px 10px 15px;
}

.dropdown-toggle a {
	color: #777;
	cursor: auto;
	text-decoration: none;
}

.dropdown-toggle a:hover {
    color: black;
    text-decoration: none;
}

.caret {
	color: #777;
}

.dropdown-menu li a {
	color: #777;
	font-weight: bold;
}

#contains-all {
	height: 100%;
	position: relative;
}

.bg-image {
	position: absolute;
	z-index: 10;
	filter: grayscale(50%);
}

#picture1 {
	background: url(../images/landingpage_slider_1.jpeg) no-repeat center center fixed; 
}

#picture2 {
	background: url(../images/landingspage_slider_2.jpg) no-repeat center center fixed; 
}

#picture3 {
	background: url(../images/landingspage_slider_3.JPG) no-repeat center center fixed; 
}

#picture4 {
	background: url(../images/landingspage_slider_4.jpg) no-repeat center center fixed; 
}

#picture5 {
	background: url(../images/landingspage_slider_5.jpeg) no-repeat center center fixed; 
}

#picture6 {
	background: url(../images/landingspage_slider_6.JPG) no-repeat center center fixed; 
}

#picture1,
#picture2,
#picture3,
#picture4,
#picture5,
#picture6 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
}

#white-bg {
	width: 100%;
	height: inherit;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 20;
	opacity: 0.3;
}

#cover-logo {
	width: 100%;
	height: inherit;
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 30;
}

#header-logo {
	max-width: 50%;
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
}

.social-button {
	max-width: 50px;
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
}

.about-me {
	box-shadow: 10px 10px 40px black, 10px -10px 40px black;
	background-color: #fdfdfd;
	z-index: 30;
	position: relative;
}

.social-button-footer, .social-button-contact {
	max-width: 20px;
	filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.6));
	align-items: right;
}

.social-button-contact {
	vertical-align: text-bottom;
	margin:1px 3px;
	max-height: 17px;
}


footer {
	margin-top: 100px;
	box-shadow: 0px -10px 40px black;
	padding: 10px;
	color: #777;
	z-index: 40;
	position: relative;
}


/**/

.contact-cta-container {
	text-align:center;

	/*temp*/
	margin-top:70px;
	margin-bottom:70px;
}

.contact-cta {
	/*RESETS*/
	border:none;
	box-shadow: none;
	background: none;
	
	background-image: url("./../images/meetup_icon_clean.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 82%;
	border-radius:50%;
	
	padding:80px;
	color:white;
	font-size:18px;
}

.contact-cta:hover {
	background-image: url("./../images/meetup_icon_clean_light.png");
	color:rgb(230,230,230);
}

.contact-meetup-members {
	font-size:42px;
	margin:5px;
}

.contact-gc-social-links li, .contact-team-social-links li {
	list-style: none;
	margin:6px;
}

.contact-team-social-links {
	margin-top:40px;
}

a {
	color:inherit;
}

a:hover {
	text-decoration: none;
}

.fa {
	margin-right:5px;
}